[submodule "backend"]
	path = backend
	url = https://github.com/g0v/kuansim-backend.git
[submodule "frontend/web"]
	path = frontend/web
	url = https://github.com/g0v/kuansim-frontend.git
[submodule "frontend/chrome-extension"]
	path = frontend/chrome-extension
	url = https://github.com/g0v/kuansim_chrome.git
[submodule "cookbooks/pgrest"]
	path = cookbooks/pgrest
	url = https://github.com/kuansim-cookbooks/pgrest.git
[submodule "devops"]
	path = devops
	url = https://github.com/g0v/kuansim-devops.git
